.Dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

.fishBackground {
    width: 100%;
    height: 100%;
    background-color: white;
}

.fishIdentifier {
    position: fixed;
    background: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

}

.fishIndex {
    position: absolute; /* Make it absolute */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    padding: 3rem;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 0;


}