/* app.css */

.App {
  text-align: center;
  background: var(--bg);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-family: 'Poppins', sans-serif;
  color: var(--text);
}

:root {
  --bg: #F9FAFB; /* Background color */
  --bg2: #FFFFFF; /* Secondary background */
  --text: #1F2937; /* Text color */
  --primary: #3B82F6; /* Primary color */
  --secondary: #10B981; /* Secondary color */
  --accent: #F59E0B; /* Accent color */
  --highlight: #EF4444; /* Highlight color */
  --card-bg: #FFFFFF; /* Card background */
  --hover: #E5E7EB; /* Hover color */
  --shadow: rgba(0, 0, 0, 0.1); /* Shadow color */
  --modal-bg: rgba(0, 0, 0, 0.8); /* Modal background */
  --popup-bg-color: lightgray; 
}

[data-theme='dark'] {
  --bg: #1F2937;
  --bg2: #111827;
  --text: #F9FAFB;
  --primary: #60A5FA;
  --secondary: #34D399;
  --accent: #FBBF24;
  --highlight: #F87171;
  --card-bg: #1F2937;
  --hover: #374151;
  --shadow: rgba(255, 255, 255, 0.1);
  --modal-bg: rgba(0, 0, 0, 0.8);
  --popup-bg-color: black; 
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

html {
  scroll-behavior: smooth;
}
